* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: spotify;
    src: url('https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2');
}

html {
    font-size: 62.5%;
    font-family: spotify;
}

header {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13vh;
    gap: 50rem;
}

.header-logo {
    width: 18rem;
}

.header-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-menu-items, 
.header-menu-profile{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.2s ;
}

.header-menu-items:hover, 
.header-menu-profile:hover,
.header-menu-profile-dropdown-options a:hover  {
    color: #1ed760;
}

.header-menu-separator {
    background-color: white;
    width: 0.1rem;
    height: 1.5rem;
    margin: 1rem;
}

button.header-menu-profile {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

button.header-menu-profile img {
    border-radius: 50%;
    width: 4.5rem;
}

.header-menu-profile-title i {
    font-size: 1.3rem;
    margin-left: 1.5rem;
}

.header-menu-profile-dropdown {
    display: none;
}

.header-menu-profile-dropdown-options {
    position: absolute;
    background-color: #fff;
    margin: 1rem 0 0;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
    padding: 1rem 8rem 2rem 2rem;
}

.header-menu-profile-dropdown-options::before {
        content: "";        
        position: absolute;
        top: -12px;
        right: 0.5rem;
        width: 0px;
        height: 0px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #fff;
}

.header-menu-profile-dropdown-options li {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-menu-profile-dropdown-options li a {
    color: #000;
}

.header-menu-profile-dropdown-options li:last-child a {
    color: rgb(185, 184, 184);
}


.section-promo {
    background-color: rgb(255, 205, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #D83519;
    padding: 13.3rem 0 13.2rem 0;
    height: 85vh;
}

.section-promo-title {
    padding-top: 4.8rem;
}

.section-promo-title h1{
    font-size: 8rem;
    text-transform: capitalize;
    font-weight: 700;
}

.section-promo-button{
    margin: 5rem 0;
}

.section-promo-button a {
    background-color: #D83519;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 700; 
    color: #fff;
    will-change: box-shadow,transform;
}

.section-promo-button a:hover{
    background-color: #AA2A14;
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, 
                rgba(45, 35, 66, 0.2) 0 7px 13px -3px, 
                rgba(0, 0, 0, 0.1) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.section-promo-desc p {
    font-size: 1.2rem;
}

.section-player {
    background-color: rgb(41, 65, 171);
    background-image: url(../assets/circles.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: right center;
    color: #1ed760;
    height: 100vh
}

.section-player article {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10rem;
}

.section-player-title h1 {
    font-size: 5rem;
    font-weight: bold;
}

.section-player-desc p {
    font-size: 2rem;
    margin: 5rem 0;
}

.section-player-button a {
    background-color: #1ed760;
    border-radius: 10rem;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    font-weight: 700; 
    color: rgb(41, 65, 171);
    will-change: box-shadow,transform;
}

.section-player-button a:hover {
    background-color: #2DE26D;
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, 
                rgba(45, 35, 66, 0.2) 0 7px 13px -3px, 
                rgba(0, 0, 0, 0.1) 0 -3px 0 inset;
    transform: translateY(-2px);
}


footer {
    background-color: #000;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.footer-info-logo {
    max-width: 14rem;
}

.footer-logo {
    max-width: 14rem;
}

.footer-info-about {
    display: flex;
    padding:0 0 20rem 30rem;
}

.footer-info ul{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(3, minmax(15px, 1fr));
}

/* Você parou aqui Marcos, falta pouco! Saiba que todo este esforço valerá apena. S2 */


